<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ExercicioLayout</title>

	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Consultas Veicular</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>Lista de Veiculos</h3>
			</div>
			<div class="col-xs-12"><br/></div>	
		</div>
		<div class="row">	
			<div class="col-md-1">
				<button class="btn btn-default" type="submit">Novo</button>
			</div>	
			<div class="col-md-1">
				<button class="btn btn-default" type="submit">Editar</button>
			</div>		
			<div class="col-md-1">
				<button class="btn btn-default" type="submit">Visualizar</button>
			</div>
			<div class="col-md-12"><br/></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Placa</th>
							<th>Tipo de Veiculo</th>
							<th>Proprietario</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>1</th>
							<th>0001</th>
							<th>uno</th>
							<th>Moises da Silva</th>
							<th><a href="#">Excluir</a></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>			
	</div>

	<script src="jquery/jquery-3.2.1.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>